{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>{{ mes }}</h1>
<ul>
    {% for fruit in fruits %}
        <li>{{ fruit|e }}</li>
    {% endfor %}
</ul>
{% endblock %}
